{% extends 'base.html' %} {% block content %} {% load static %}
<section class="content">
  <div class="main">
    <div class="main-header">
      <img src="/static/img/logo.png" class="logo">
      <a href="#">Edit</a>
    </div>
    <div class="post_form">
    <div class="input-area">
    <form action="" method="POST" enctype="multipart/form-data">
      {%csrf_token %}
      <input
        type="text"
        name="name"
        placeholder="Name"
        value="{{posts.name}}"
        required
        col
      />
      <input
        name="body"
        row="5"
        value="{{posts.body}}"
        required
        class="textarea"
      ></textarea>
      {% if post.image.url%}
      <img src="{{posts.image.url}}" alt="" class="postimage"><br>
      {% endif %}
      <input
        type="file"
        name="image"
        class="form-control form-control-sm"
        value="{{posts.image.url}}"
      <div class="editfooter">
        <input class="btn btn-primary btn-sm" type="submit" value="Update"/>
        <a href="{% url 'index' %}" class="btnn">Cancel</a>
      </div>
    </div>
    </form>
  </div>
  </div>
</section>
{% endblock %}